/* header  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"]{
  font-family: 'Poppins';
}

.h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Reem Kufi Fun', sans-serif;
}
::placeholder{
  font-family: 'Poppins';
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper input[type="text"],
.wrapper input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.pc {
  display: block;
  font-family: 'magra';
}

.hp {
  display: none;
  font-family: 'magra';
}

@media only screen and (max-width:600px) {
  .pc {
    display: none;
  }
}

@media only screen and (max-width:600px) {
  .hp {
    display: block;
  }
}

* {

  box-sizing: border-box;
}

body {
  --color1: #fff;
  --color2: #ffe227;
  --color3: #14181d;
  --color4: rgba(255, 255, 255, 0.152);
}

/* body */
.comment {
  font-family: 'montserrat';
  text-align: justify;
  text-indent: 0.6in;
  font-weight: 100;
}

.tag {
  font-weight: bolder;
  text-align: left;
  font-family: 'montserrat';
}

.btn {
  width: 200px;
  height: 50px;

}

.card {
  width: 100%;
}

.card {
  background-color: #0f394c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  left: 15%;
  background-color: #f1f1f1;
  width: 75%;
  border-radius: 100px;
}

.lain {
  text-decoration: none;
  color: var(--color3);
  font-family: 'Montserrat';
}

.lain:hover {
  color: var(--color1);
}

.iklan {
  max-width: 100%;
  margin: 100px;
  height: auto;
  border-radius: 7%;
}

html {
  scroll-behavior: smooth;
}

.bg_isi img {
  position: relative;
}

.bg_isi p {
  position: absolute;
  top: 20%;
  z-index: 2;
}

.main {
  width: 100%;
  min-height: 200px;
}

.maps {
  padding: 2% 5% 5% 7%;
  top: 20px;
  margin-top: 200px;
}

.vid {
  margin-top: 150px;
  padding: 10px;
  margin-left: 50px;
}

.about {
  background-image: url(../Pict/bckg.jpg);
}

.section-bg {
  background-color: var(--color1);
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}

.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0f394c;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #49b5e7;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #49b5e7;
  border-color: #49b5e7;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #49b5e7;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url(../Pict/pizza.jpg) center center no-repeat;
  background-size: contain;
  min-height: 500px;
}

/* .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
} */

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .about .video-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.about .play-btn {
  width: 10%;
  /* background: radial-gradient(#49b5e7 50%, rgba(73, 181, 231, 0.4) 52%); */
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 27px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.play{
  width: 100%;
  margin-top: 70px;
}



.carousel {
  padding: 0 6% 5% 6%;
}

/* card */
.column {
  padding: 50px 0 0 0;
}

/*  */

.says {
  font-family: "montserrat";
}

/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 75%;
    display: block;
    margin-bottom: 20px;
  }
}

a {
  color: #000000;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-box {
  padding: 90px 0px;
}

.heading-title {
  margin-bottom: 50px;
}

.heading-title h2 {
  color: #010101;
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.heading-title p {
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
}


/* Menu  */

.tombol{
  margin-top: -40px;
  margin-bottom: 40px;
}

.inner-menu-box .nav-pills .nav-link.active {
  background: #FDBE34;
}

.inner-menu-box .nav-pills .nav-link {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: var(--color3);
}

.inner-menu-box .nav-pills .nav-link:hover {
  background: #FDBE34;
  color: #ffffff;
}


.img-fluid {
  width: 100%;
  height: 300px;
  border-radius: 4%;
  transition: .3s all;
  filter: brightness(.7);
}

.gallery-single {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  /* -webkit-box-shadow: 0 0 10px #ccc; */
  /* box-shadow: 0 0 10px #ccc; */
  border-radius: 4%;
  width: 200px;
}

.nama {
  font-family: 'Reem Kufi Fun', sans-serif;
  margin-bottom: -3px;
}

.harga {
  font-family: 'Reem Kufi Fun', sans-serif;


}

.icon {
  margin-right: 10px;
}

.why-text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  /* background: #f0bc00b8; */
  padding: 12px 12px;
  /* /* -webkit-transition: all 0.3s ease; */
  transition: all .3s;
  /* animation: fadeIn 2.5s; */
  opacity: 0;
}

.why-text h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Reem Kufi Fun', sans-serif;
}

.why-text p {
  color: #ffffff;
  font-size: 13px;
  margin: 0px;
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.why-text h5 {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.pesan{
  background: #FDBE34;
}
.pesan:hover{
  background: var(--color2);
  /* color: ; */
}


.gallery-single:hover .why-text {
  opacity: 1;
  transition: .3s all;
}

.gallery-single:hover .img-fluid {
  -webkit-filter: blur(2px);
  filter: blur(2px) brightness(.5);
  /* filter: brightness(1); */
}

		.pc {
			display: block;
			font-family: 'magra';
		}

		.hp {
			display: none;
			font-family: 'magra';
		}

		@media only screen and (max-width:600px) {
			.pc {
				display: none;
			}
		}

		@media only screen and (max-width:600px) {
			.hp {
				display: block;
			}
		}